html, body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color:#209CEE;
}

a:visited {
    color:#209CEE;
}

body {
    font-family: Futura, Helvetica, sans-serif;
    padding-left: 12px;
    padding-right: 12px;
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgrey;
}

#content-container {
    display: flex;
}

#content {
    width:60vw;
    padding-left:12px;
    padding-right:12px;
}


.header-nav-link {
    display: inline;
}

.nav-link {
    padding: 12px 12px 12px 12px;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: aliceblue;
}

.nav-link > a {
    color:black;
}

.nav-link > a:visited {
    color:black;
}

.menu {
    float: left;
    margin-right: 12px;
    width: 20vw;
    height: 100vw;
}
